<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızda</h3>
				<p>LothricCritic video oyunlarının oyuncular tarafından yorum ile puanlanıp, bu puanların oyunlar üstüne ortalamasını aldığı bir web sitesidir.</p>
				
			</div>
			<!-- subscribe -->
			
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-facebook-f"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-google-plus-g"></i>
								<span>Google+</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-pinterest-p"></i>
								<span>Pinterest</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>
					© 2024 LothricCritic. Bütün Hakları Saklıdır | Develop by
					<a href="https://www.turkhackteam.org/uye/lothric.1023179/">lothriccc</a>
				</p>

			</div>
		</div>
	</div>
</footer>