@model IEnumerable<EntityLayer.Concrete.Comment>
@foreach (var item in Model)
{
	<div class="comment-top">
	
		<div class="media">
			<img src="images/t1.jpg" alt="" class="img-fluid" />
			<div class="media-body">
				<h5 class="mt-0">@item.UserName</h5>
				<p>
					@item.Content
				</p>


			</div>
		</div>
	</div>
}