
@{
    Layout = null;
}

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/UserPartials/PartialHead.cshtml")

<body>

	@await Html.PartialAsync("~/Views/UserPartials/PartialNavbar.cshtml")


	@RenderBody()

	@await Html.PartialAsync("~/Views/UserPartials/PartialFooter.cshtml")

	@await Html.PartialAsync("~/Views/UserPartials/PartialScript.cshtml")
</body>

</html>
