
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/GamePanel/Company/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Companies</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/GamePanel/Platform/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Platforms</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/GamePanel/Category/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Categories</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/GamePanel/Game/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Games</span>
			</a>
		</li>



	</ul>
</nav>
