@using EntityLayer.Concrete
@model List<Platform>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Platform List</h4>

            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Platform İsmi</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PlatformID</td>
                                <td>@item.PlatformName</td>
                                <td><a href="/GamePanel/Platform/DeletePlatform/@item.PlatformID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/GamePanel/Platform/EditPlatform/@item.PlatformID" class="btn btn-outline-primary">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/GamePanel/Platform/AddPlatform/" class="btn btn-outline-primary">Platform Ekle</a>
            </div>
        </div>
    </div>
</div>
